body{
    margin: 0;
}

/*---------------- NAVIGATION SECTION -------------*/
nav{
    background-color: rgb(182, 182, 182);
    font-family: Arial, Helvetica, sans-serif;
}

.nav:after{
    content: '';
    display: block;
    clear: both;
}
.logo, .topnav{
    display: inline-block;
}
.logo{
    margin: 20px;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;

}

.logo a{
    text-decoration: none;
    color: beige;
}

.topnav ul{
    list-style-type: none;
    padding-left: 0px;
    padding-right: 40px;


}
.topnav{
    float: right;
    
   
}

.topnav ul li {
    display: inline-block;
    margin-right: 20px;
  
   
}

.topnav ul li a {
    text-decoration: none;
    color: beige;
   
}

.topnav ul li a:hover{
    background-color: rgb(243, 242, 242);
    color: black;
    transition: all 0.5s ease;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
/*---------------- NAVIGATION SECTION ----------*/

/*----------------HEADER SECTION----------------*/
header{
    background-color: rgb(224, 204, 148);
    height: 7650px;
    background-size: cover;
    background-repeat:repeat;
    
}
